body{
}
h1{
    font-size: large;
    font-family: sans-serif;
    color: black;
}
h2{
    font-size: small;
    font-family: sans-serif;
    color: gray;
    font-style: italic;
}
h3{
    color: red;
}
h4{
    color: green;
}
.new_pass{
    font-family: monospace;
}
em{
    font-family: monospace;
}
